
<div class="shops-container">
  <div *ngFor="let shop of shops" class="shop-container">

    <div class="logo-container">
      <a href="{{shop.address}}">
        <img src="{{shop.logoUrl}}" />
      </a>
    </div>

    <div class="items-container">
      <div class="item-container" *ngFor="let item of shop.items">
        <span class="delete-button">
          <img src="https://cdn4.iconfinder.com/data/icons/social-messaging-ui-coloricon-1/21/52-512.png">
        </span>

        <div class="price-container">
          <span class="price">
            {{item.price}}
            <img src="https://d338t8kmirgyke.cloudfront.net/icons/icon_pngs/000/002/097/original/price.png" />
          </span>
        </div>

        <img src="{{item.imageUrl}}">
        <p>{{item.title}}</p>
      </div>
    </div>

  </div>
</div>
