
<div class="shops-container">
  <div *ngFor="let shop of shops">

    <div class="logo-container">
      <a href="{{shop.address}}" target="_blank">
        <img src="assets/images/logos/{{shop.logoFileName}}" />
      </a>
    </div>

    <div class="items-container">
      <div class="item-container" *ngFor="let item of shop.items">
        <div class="image-container">
          <span class="delete-button" (click)="remove(item.id!)">
            <img src="assets/images/trash.png" />
          </span>

          <div class="price-container">
            <span class="price" id="{{item.priceChanges}}">
              {{item.price}}<b>{{shop.currencySign}}</b>
            </span>
          </div>

          <div class="redirect-container">
            <a href="{{item.url}}" target="_blank">
              Перейти
              <img src="assets/images/arrow.png" />
            </a>
          </div>

          <img (click)="showModalImage(item.imageUrl!)" src="{{item.imageUrl}}" alt="{{item.title}}" />
        </div>

        <div class="title-container">
          <p>{{item.title}}</p>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="image-modal-container" [ngClass]="modalImageVisible ? 'show-modal' : ''" (click)="closeModalImage()">

  <span (click)="closeModalImage()">&times;</span>

  <img [src]="modalImageSrc" />

</div>
