
<div class="shops-container">
  <div *ngFor="let shop of shops" class="shop-container">

    <div class="logo-container">
      <a href="{{shop.address}}" target="_blank">
        <img src="{{shop.logoUrl}}" />
      </a>
    </div>

    <div class="items-container">
      <div class="item-container" *ngFor="let item of shop.items">
        <div class="image-container">
          <span class="delete-button" (click)="remove(item.id!)">
            <img src="assets/images/trash.png">
          </span>

          <div class="price-container">
            <span class="price">
              {{item.price}}
              <img src="assets/images/price.png" />
            </span>
          </div>

          <div class="redirect-container">
            <a href="{{item.url}}" target="_blank">
              Перейти
              <img src="assets/images/arrow.png" />
            </a>
          </div>

          <img src="{{item.imageUrl}}">
        </div>

        <p>{{item.title}}</p>
      </div>
    </div>

  </div>
</div>
