@page "/login/{token:guid}"

@if (!Authorized) {
    <div class="unauthorized-container">
        <div class="error-container">
            <img src="/images/error.png" />
        </div>

        <div class="message-container">
            Ссылка для авторизации больше недействительна❗
        </div>


        <div class="go-to-website">
            <span>Пожалуйста, перейдите на сайт в <a href="https://t.me/pricer_official_bot" target="_blank">боте</a> используя комманду <b>Сайт 🌍</b>.</span>
        </div>
    </div>
}