<div class="no-items-container">
    <img src="/images/empty-cart.jpg" />

    <p>В вашем списке ещё нет никаких товаров 🛒</p>
    <small>Вы можете добавить желаемый товар в <a href="https://t.me/pricer_official_bot" target="_blank">боте</a> используя комманду <b>Добавить ➕</b>.</small>
</div>