<div class="no-items-container">
    <img src="/images/empty-cart.jpg" />

    <p>В вашому списку ще немає ніяких товарів 🛒</p>
    <small>Ви можете додати бажаний товар в <a href="https://t.me/pricer_official_bot" target="_blank">боті</a> використовуючи комманду <b>Додати ➕</b>.</small>
</div>