@page "/home"

@using Pricer.Web.App.Components
@using Items = Pricer.Web.App.Components.Items

@{
    if (ItemsData.Any())
    {
        <Items 
            Data="ItemsData"
            OnItemDeleted="DeleteItem" />
    }
    else
    {
        <NoItems />
    }
}
    
<div class="logout" @onclick="@Logout">
     <img src="/images/logout.png" />
</div>