@min768: ~"(min-width: 768px) and (max-width: 900px)";
@min530: ~"(min-width: 530px) and (max-width: 768px)";
@min450: ~"(min-width: 450px) and (max-width: 530px)";
@min400: ~"(min-width: 400px) and (max-width: 450px)";
@min310: ~"(min-width: 310px) and (max-width: 400px)";

.unauthorized-container {
  background: #fafafa;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  width: 510px;
  margin: auto;
  padding: 30px 50px;
  text-align: center;
  color: #0d0d0d;

  @media @min768 {
    width: 450px;
  }

  @media @min530 {
    width: 330px;
    padding: 27px 45px;
  }

  @media @min450 {
    width: 285px;
    padding: 24px 37px;
  }

  @media @min400 {
    width: 260px;
    padding: 20px 28px;
  }

  @media @min310 {
    width: 220px;
    padding: 15px 18px;
  }
}

.message-container {
  margin: 12px 0 4px 0;

  p {
    margin: 0;
    font-size: 19px;

    @media @min530 {
      font-size: 18px;
    }

    @media @min450 {
      font-size: 17px;
    }

    @media @min400 {
      font-size: 16px;
    }

    @media @min310 {
      font-size: 15px;
    }
  }
}

.error-container {
  img {
    height: 80px;

    @media @min530 {
      height: 75px;
    }

    @media @min450 {
      height: 70px;
    }

    @media @min400 {
      height: 65px;
    }

    @media @min310 {
      height: 50px;
    }
  }
}

.go-to-website {
  span {
    font-size: 14px;

    a {
      color: #0d0d0d;
      font-weight: bold;
      text-decoration: none;

      &:visited {
        color: #0d0d0d;
      }
    }

    @media @min530 {
      font-size: 13px;
    }

    @media @min450 {
      font-size: 12px;
    }

    @media @min400 {
      font-size: 12px;
    }

    @media @min310 {
      font-size: 11px;
    }
  }
}

* {
  font-family: 'Source Sans Pro', sans-serif;
}
