<div class="unauthorized-container" *ngIf="invalidToken || tokenExpired">
  <div class="error-container">
    <img src="https://cdn.picpng.com/red/red-cross-error-crossed-wrong-112790.png" />
  </div>

  <div class="message-container">
    <p *ngIf="invalidToken">
      Токен не валидный ❗
    </p>

    <p *ngIf="tokenExpired">
      Токен уже был использован ❗
    </p>
  </div>


  <div class="go-to-website">
    <span>Пожалуйста, перейдите на сайт в <a href="https://t.me/pricer_official_bot" target="_blank">боте</a> используя комманду <b>'Сайт 🌍'</b>.</span>
  </div>
</div>
