@page "/login/{token:guid}"

@if (_isAuthenticated.HasValue && !_isAuthenticated.Value)
{
    <div class="unauthorized-container">
        <div class="error-container">
            <img src="/images/error.png"/>
        </div>

        <div class="message-container">
            Посилання для авторизації більше не дійсне!
        </div>


        <div class="go-to-website">
            <span>Будь-ласка, перейдіть на сайт в <a href="https://t.me/pricer_official_bot" target="_blank">боті</a> використовуючи команду <b>Сайт 🌍</b>.</span>
        </div>
    </div>
}